table th, td {
    width: 100px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

table tbody tr {
    border-bottom: 1px solid black;
}

table thead tr {
    border-bottom: 3px solid gray;
}
